<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/responsive.css" >
        <title>Pears</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head> 
    <body class="pbody">
        <div id="header2">
            <pre></pre>
        <div class="menusite" >
            <input id="menu__toggle" type="checkbox" >
            <label class="menu__btn" for="menu__toggle" >
            <span></span>
            </label>
          <ul class="menu__box" >
            <li><a class="menu__item" href="index.html">Home</a></li>
            <li><a class="menu__item" href="#">Company</a></li>
            <li><a class="menu__item" href="#">Profile</a></li>
            <li><a class="menu__item" href="Tomato all.html">Products</a></li>
            <li><a class="menu__item" href="#">Services</a></li>
            <li><a class="menu__item" href="#">R&D</a></li>
            <li><a class="menu__item" href="contactus.html">Contact</a></li>
          </ul>
        </div>
        <div class=container>
            <div class="row">
            <img id="pc" src="img/Logo.png">
            
            <div class=nav>
                
                <form>
                    <div class=searchinput>
                        <input name=search placeholder=Search>
                        <img src="img/Vector.png">
                    </div>
                </form>
                
                <nav>
                    
                    <a href="index.html">Home</a>
                    <a href=#>Company</a>
                    <a href=#>Profile</a>
                    <a href="Tomato all.html">Products</a>
                    <a href=#>Services</a>
                    <a href=#>R&D</a>
                    <a href="contactus.html">Contact</a> 
                    </div>
                </nav>
                
            </div>
        </div>
        </div>
        <figure>
            <img src="img/pearbg.jpg">
        </figure>
        <div class="mainp">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="toffer_title">
                            <b>Agridera Fresh Market Pear Hybrids</b>
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="toffer_star">* * * * *</p>
                    </div>
                    <div class="col-12">
                        <p class="toffer_text">Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of pear seeds.<b> We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</b><br>
                            In particular, we breed improved disease-resistant cultivars adapted to different markets globally.</p>  
                        <p class="toffer_text">Currently, emphasis is placed on combining Pear Yellow Leaf Curl Virus (TYLCV) and Pear Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior pear breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Pear Brown Rugose Fruit Virus). </p>
                        <p class="toffer_text">In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life,<br> and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely<br> round and elongated shapes. </p>
                    </div>
                    </div>
                        <img id="picr" src="img/Rectangle27.png">
                        <p class="tts">Agirdera Pear breeding programs are focusing on three main segments: Greenhouse Indeterminate Pears, Open-field Indeterminate Pears, and Bush Type Open-field Pears.</p>
            </div>
        </div>

            <div id="abgv" class="container">
                <div class="row">  
                    <div class="col-4">
                        <p class="about">Greenhouse Pear Breeding Program</p>
                        <img src="img/tLine2.png">
                        <p class="atext"><b>This breeding is aimed for the Spanish and Turkish markets.</b> For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). </p>
                    </div>
                    <div class="col-4">
                        <p class="about">Open-field Indeterminate<br> Pears</p>
                        <img src="img/tLine2.png">
                        <p class="atext"><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                    </div>
                    <div class="col-4">
                        <p class="about">Open-field Bush Type <br> Pears</p>
                        <img src="img/tLine2.png">
                        <p class="atext"><b>This breeding is for Mediterranean markets.</b> We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <img src="img/Rectangle 29.png">
        <p class="tts2"><b>Agridera operates through international and local distributers around the world.</b></p>
        </div>
        <div class="wg">
                <div class="container">
                    <div id="pear" class="tomatosList col-12">
                    <div class="row">
                        <div class="tomatoItem col-4" v-if="products" v-for="p in products">
                        <div class="col-12">
                            <div class="tomatoImg">
                                <a :href="'pear one.html#'+p.id"><img :src="'images/'+p.image" alt=""></a>
                            </div>
                            <div class="tomatoInfo">
                                <a :href="'pear one.html#'+p.id"><b style="font-size:20px; line-height:28px;">{{p.title}}</b></a><br>
                                {{p.short_text}} 
                            </div>
                        </div>    
                        
                        </div>
                    </div>
                </div>
                    <pre></pre>
                    <pre></pre>
                </div>
                </div>
        <div class="fut5">
            <div class="container">
                <div class="row">
                    <div id="Text1" class="col-9" >
                        <span > <a class="link" href="">PROFILE</a>
                            <a class="link" href=""> MANAGEMENT</a>
                             <a class="link" href="">  PRODUCTS</a>
                             <a class="link" href=""> R&D</a>
                            <a class="link" href=""> LINKS</a>
                            <a class="link" href=""> SITEMAP</a> 
                             <a class="link" href=""> CONTACT</a>
                        </span>
                    </div>
                    <div id="lin" class=" col-3">
                        <span>
                            <img src="img/icosoc/Ico_in.png">
                            <img src="img/icosoc/Ico_inst.png">
                            <img src="img/icosoc/Ico_tube.png">
                            <img src="img/icosoc/Ico_tw.png">
                            <img src="img/icosoc/Ico_fb.png">
                            <pre></pre>
                        </span>
                    </div> 
            </div>  
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <p class="col-12"></p>
    
                    <a id="foot" class="col" href="">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>